.container{
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
    max-width: 400px;
    min-width: 150px;
    padding: 5%;
    overflow: hidden;
    padding-left: auto;
    border: 1px solid #000000;
    font-size: 100%;
    background-color: #000000;
}