.display{
    width: 100%;
    padding-right: 2%;
    margin-bottom: 1%;
    font-weight: bolder;
    text-align: end;
}

.zeroErrorText{
    color: red;
}
.limitOverErrorText{
    color: red;
    font-size: 20%;
}
.defaultText{
    color: white;
}
/* 200px以下の時 */
@media screen and (max-width: 220px){
    .zeroErrorText{
        font-size: 70%;
    }
    .limitOverErrorText{
        font-size: 50%;
    }
    .defaultText{
        font-size: 100%;
    }
}
/* 200px以上の時 */
@media screen and (min-width: 220px){
    .zeroErrorText{
        font-size: 100%;
    }
    .limitOverErrorText{
        font-size: 70%;
    }
    .defaultText{
        font-size: 130%;
    }
}
/* 250px以上の時 */
@media screen and (min-width: 250px){
    .zeroErrorText{
        font-size: 130%;
    }
    .limitOverErrorText{
        font-size: 80%;
    }
    .defaultText{
        font-size: 150%;
    }
}
/* 300px以上の時 */
@media screen and (min-width: 300px){
    .zeroErrorText{
        font-size: 120%;
    }
    .limitOverErrorText{
        font-size: 100%;
    }
    .defaultText{
        font-size: 160%;
    }
}

@media screen and (min-width: 370px){
    .limitOverErrorText{
        font-size: 120%;
    }
}